<!-- Equipment Name不可重複 -->
<!-- valueDefMapActionClass可指定多個實現com.mirle.ibg3k0.smc.data.IValueDefMapAction的類別，以","作為間隔 -->
<!-- valueDefMapActionClass所指定的class必須確保被定義在"com.mirle.ibg3k0.smc.data" Name Space下 -->
<!-- 目前eqptType支援三種：Equipment_Load、Equipment_UnLoad、Equipment_LUMix-->
<!-- portType有兩種選項：1、2。 1代表該port是屬於load Port，2代表該port是屬於unload Port -->
<!-- portJudge: 對應到AMS設定的Port Judge Future Action -->
<!-- 用來設定基準位址，方便相對定位使用(使用十六進位)。  _R：EQPT寫入區域即EAP讀取區域、_W：EQPT讀取區域即EAP寫入區域-->
<!-- secsAgentName: 指定使用SECS Agent的名稱，對應SECSConnectionSetting.config的設定-->

<!-- 修改 EQPT id 也必須去修改 EqDefaultValueDefMapAction 裡的 Method : recordRecipeCheck -->
<EquipmentDefs shareMemoryInitClass="com.mirle.ibg3k0.sc.Data.InitAction.ShareMemoryInitProcess_Base, ScriptControl">
  <Line id="AAAGV600" valueDefMapActionClass="com.mirle.ibg3k0.sc.Data.ValueDefMapAction.AT_S.MCSDefaultMapAction, ScriptControl">
    <Zone id="AGV_ZONE">
      <Node id="AGV_NODE" node_num="1" >
        <Vehicle id="AGV01" communicationType="3" valueDefMapActionClass="com.mirle.ibg3k0.sc.Data.ValueDefMapAction.EQTcpIpMapAction, ScriptControl" tcpipAgentName="OHxC_TO_OHx01"/>
        <Vehicle id="AGV02" communicationType="3" valueDefMapActionClass="com.mirle.ibg3k0.sc.Data.ValueDefMapAction.EQTcpIpMapAction, ScriptControl" tcpipAgentName="OHxC_TO_OHx02"/>
        <Vehicle id="AGV03" communicationType="3" valueDefMapActionClass="com.mirle.ibg3k0.sc.Data.ValueDefMapAction.EQTcpIpMapAction, ScriptControl" tcpipAgentName="OHxC_TO_OHx03"/>
        <Vehicle id="AGV04" communicationType="3" valueDefMapActionClass="com.mirle.ibg3k0.sc.Data.ValueDefMapAction.EQTcpIpMapAction, ScriptControl" tcpipAgentName="OHxC_TO_OHx04"/>
        <Vehicle id="AGV05" communicationType="3" valueDefMapActionClass="com.mirle.ibg3k0.sc.Data.ValueDefMapAction.EQTcpIpMapAction, ScriptControl" tcpipAgentName="OHxC_TO_OHx05"/>
        <Vehicle id="AGV06" communicationType="3" valueDefMapActionClass="com.mirle.ibg3k0.sc.Data.ValueDefMapAction.EQTcpIpMapAction, ScriptControl" tcpipAgentName="OHxC_TO_OHx06"/>
        <Vehicle id="AGV07" communicationType="3" valueDefMapActionClass="com.mirle.ibg3k0.sc.Data.ValueDefMapAction.EQTcpIpMapAction, ScriptControl" tcpipAgentName="OHxC_TO_OHx07"/>
        <Vehicle id="AGV08" communicationType="3" valueDefMapActionClass="com.mirle.ibg3k0.sc.Data.ValueDefMapAction.EQTcpIpMapAction, ScriptControl" tcpipAgentName="OHxC_TO_OHx08"/>
        <Vehicle id="AGV09" communicationType="3" valueDefMapActionClass="com.mirle.ibg3k0.sc.Data.ValueDefMapAction.EQTcpIpMapAction, ScriptControl" tcpipAgentName="OHxC_TO_OHx09"/>
      </Node>
      <Node id="CHARGE_NODE" node_num="2" >
        <EQPT id="MCharger" communicationType="1" valueDefMapActionClass="com.mirle.ibg3k0.sc.Data.ValueDefMapAction.ChargerValueDefMapAction, ScriptControl">
          <Unit id="Charger1" unit_num="1" unit_cate="C" eqpt_type="T" capacity="1" tact_time="25" valueDefMapActionClass="com.mirle.ibg3k0.sc.Data.ValueDefMapAction.SubChargerValueDefMapAction, ScriptControl"/>
          <Unit id="Charger2" unit_num="2" unit_cate="C" eqpt_type="T" capacity="1" tact_time="25" valueDefMapActionClass="com.mirle.ibg3k0.sc.Data.ValueDefMapAction.SubChargerValueDefMapAction, ScriptControl"/>
          <Unit id="Charger3" unit_num="3" unit_cate="C" eqpt_type="T" capacity="1" tact_time="25" valueDefMapActionClass="com.mirle.ibg3k0.sc.Data.ValueDefMapAction.SubChargerValueDefMapAction, ScriptControl"/>
          <Unit id="Charger4" unit_num="4" unit_cate="C" eqpt_type="T" capacity="1" tact_time="25" valueDefMapActionClass="com.mirle.ibg3k0.sc.Data.ValueDefMapAction.SubChargerValueDefMapAction, ScriptControl"/>
          <Unit id="Charger5" unit_num="5" unit_cate="C" eqpt_type="T" capacity="1" tact_time="25" valueDefMapActionClass="com.mirle.ibg3k0.sc.Data.ValueDefMapAction.SubChargerValueDefMapAction, ScriptControl"/>
          <Unit id="Charger6" unit_num="6" unit_cate="C" eqpt_type="T" capacity="1" tact_time="25" valueDefMapActionClass="com.mirle.ibg3k0.sc.Data.ValueDefMapAction.SubChargerValueDefMapAction, ScriptControl"/>
          <Unit id="Charger7" unit_num="7" unit_cate="C" eqpt_type="T" capacity="1" tact_time="25" valueDefMapActionClass="com.mirle.ibg3k0.sc.Data.ValueDefMapAction.SubChargerValueDefMapAction, ScriptControl"/>
          <Unit id="Charger8" unit_num="8" unit_cate="C" eqpt_type="T" capacity="1" tact_time="25" valueDefMapActionClass="com.mirle.ibg3k0.sc.Data.ValueDefMapAction.SubChargerValueDefMapAction, ScriptControl"/>
          <Unit id="Charger9" unit_num="9" unit_cate="C" eqpt_type="T" capacity="1" tact_time="25" valueDefMapActionClass="com.mirle.ibg3k0.sc.Data.ValueDefMapAction.SubChargerValueDefMapAction, ScriptControl"/>
          <Unit id="Charger10" unit_num="10" unit_cate="C" eqpt_type="T" capacity="1" tact_time="25" valueDefMapActionClass="com.mirle.ibg3k0.sc.Data.ValueDefMapAction.SubChargerValueDefMapAction, ScriptControl"/>
          <Unit id="Charger11" unit_num="11" unit_cate="C" eqpt_type="T" capacity="1" tact_time="25" valueDefMapActionClass="com.mirle.ibg3k0.sc.Data.ValueDefMapAction.SubChargerValueDefMapAction, ScriptControl"/>
        </EQPT>
      </Node>
    </Zone>
    <Zone id="EQ_ZONE1">
      <Node id="ZONE1_ST02" node_num="11" >
        <EQPT id="B7_OHBLINE1_ST02" eqptType="1" communicationType="1" tcpipAgentName="http://ohbc.line1.asek21.mirle.com.tw:3280" process_data_format="" recipe_parameter_format="1">
          <PortStation id="AT_S_TEST01" unit_num="1" adr_id ="10006"  load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="AT_S_TEST02" unit_num="2" adr_id ="10007"  load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="AT_S_TEST03" unit_num="3" adr_id ="10011"  load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="AT_S_TEST04" unit_num="4" adr_id ="10012"  load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="AT_S_TEST05" unit_num="5" adr_id ="10013"  load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="AT_S_TEST06" unit_num="6" adr_id ="10014"  load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="AT_S_TEST07" unit_num="7" adr_id ="10015"  load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="AT_S_TEST08" unit_num="8" adr_id ="10016"  load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="AT_S_TEST09" unit_num="9" adr_id ="10017"  load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="AT_S_TEST10" unit_num="10" adr_id ="10018"  load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="AT_S_TEST11" unit_num="11" adr_id ="10019"  load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="AT_S_TEST12" unit_num="12" adr_id ="10021"  load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="AT_S_TEST13" unit_num="13" adr_id ="10022"  load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="AT_S_TEST14" unit_num="14" adr_id ="10023"  load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="AT_S_TEST15" unit_num="15" adr_id ="10024"  load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="AT_S_TEST16" unit_num="16" adr_id ="10025"  load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="AT_S_TEST17" unit_num="17" adr_id ="10026"  load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="AT_S_TEST18" unit_num="18" adr_id ="10028"  load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="AT_S_TEST19" unit_num="19" adr_id ="10029"  load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="AT_S_TEST20" unit_num="20" adr_id ="10031"  load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="AT_S_TEST21" unit_num="21" adr_id ="10032"  load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="AT_S_TEST22" unit_num="22" adr_id ="10033"  load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="AT_S_TEST23" unit_num="23" adr_id ="10034"  load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="AT_S_TEST24" unit_num="24" adr_id ="10036"  load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="AT_S_TEST25" unit_num="25" adr_id ="10037"  load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="AT_S_TEST26" unit_num="26" adr_id ="10038"  load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="AT_S_TEST27" unit_num="27" adr_id ="10039"  load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="AT_S_TEST28" unit_num="28" adr_id ="10041"  load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="AT_S_TEST29" unit_num="29" adr_id ="10042"  load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="AT_S_TEST30" unit_num="30" adr_id ="10043"  load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="AT_S_TEST31" unit_num="31" adr_id ="10044"  load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="AT_S_TEST32" unit_num="32" adr_id ="10045"  load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="AT_S_TEST33" unit_num="33" adr_id ="10046"  load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="AT_S_TEST34" unit_num="34" adr_id ="10047"  load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="AT_S_TEST35" unit_num="35" adr_id ="10048"  load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="AT_S_TEST36" unit_num="36" adr_id ="10049"  load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="AT_S_TEST37" unit_num="37" adr_id ="10050"  load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="AT_S_TEST38" unit_num="38" adr_id ="10052"  load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="AT_S_TEST39" unit_num="39" adr_id ="10053"  load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="AT_S_TEST40" unit_num="40" adr_id ="10054"  load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="AT_S_TEST41" unit_num="41" adr_id ="10056"  load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="AT_S_TEST42" unit_num="42" adr_id ="10058"  load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="AT_S_TEST43" unit_num="43" adr_id ="10059"  load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="AT_S_TEST44" unit_num="44" adr_id ="10060"  load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="AT_S_TEST45" unit_num="45" adr_id ="10061"  load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="AT_S_TEST46" unit_num="46" adr_id ="10063"  load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="AT_S_TEST47" unit_num="47" adr_id ="10064"  load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="AT_S_TEST48" unit_num="48" adr_id ="10065"  load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="AT_S_TEST49" unit_num="49" adr_id ="10066"  load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="AT_S_TEST50" unit_num="50" adr_id ="10067"  load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="AT_S_TEST51" unit_num="51" adr_id ="10069"  load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="AT_S_TEST52" unit_num="52" adr_id ="10070"  load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="AT_S_TEST53" unit_num="53" adr_id ="10071"  load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="AT_S_TEST54" unit_num="54" adr_id ="10072"  load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="AT_S_TEST55" unit_num="55" adr_id ="10073"  load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="AT_S_TEST56" unit_num="56" adr_id ="10074"  load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="AT_S_TEST57" unit_num="57" adr_id ="10075"  load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="AT_S_TEST58" unit_num="58" adr_id ="10076"  load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="AT_S_TEST59" unit_num="59" adr_id ="10077"  load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="AT_S_TEST60" unit_num="60" adr_id ="10078"  load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="AT_S_TEST61" unit_num="61" adr_id ="10079"  load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="AT_S_TEST62" unit_num="62" adr_id ="10080"  load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="AT_S_TEST63" unit_num="63" adr_id ="10081"  load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="AT_S_TEST64" unit_num="64" adr_id ="10082"  load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="AT_S_TEST65" unit_num="65" adr_id ="10083"  load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="AT_S_TEST66" unit_num="66" adr_id ="10084"  load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="AT_S_TEST67" unit_num="67" adr_id ="10085"  load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="AT_S_TEST68" unit_num="68" adr_id ="10086"  load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="AT_S_TEST69" unit_num="69" adr_id ="10087"  load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="AT_S_TEST70" unit_num="70" adr_id ="10088"  load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="AT_S_TEST71" unit_num="71" adr_id ="10089"  load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="AT_S_TEST72" unit_num="72" adr_id ="10090"  load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="AT_S_TEST73" unit_num="73" adr_id ="10091"  load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="AT_S_TEST74" unit_num="74" adr_id ="10092"  load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="AT_S_TEST75" unit_num="75" adr_id ="10093"  load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="AT_S_TEST76" unit_num="76" adr_id ="10094"  load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="AT_S_TEST77" unit_num="77" adr_id ="10095"  load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="AT_S_TEST78" unit_num="78" adr_id ="10096"  load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="AT_S_TEST79" unit_num="79" adr_id ="10097"  load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="AT_S_TEST80" unit_num="80" adr_id ="10098"  load_vh_type ="0" unload_vh_type ="0" />
        </EQPT>
      </Node>
      <Node id="ZONE1_ST01" node_num="12" >
        <EQPT id="B7_OHBLINE1_ST01" eqptType="1" communicationType="1" tcpipAgentName="http://ohbc.line1.asek21.mirle.com.tw:3280" process_data_format="" recipe_parameter_format="1">

        </EQPT>
      </Node>
      <Node id="ZONE1_EQ1" node_num="13" >
        <EQPT id="LINE1_B5A-6850-02" eqptType="3" communicationType="1" >

        </EQPT>
        <EQPT id="LINE1_B5A-6850-01" eqptType="3" communicationType="1" >

        </EQPT>
        <EQPT id="LINE1_B5A_6869_02" eqptType="3" communicationType="1" >

        </EQPT>
        <EQPT id="LINE1_B5A_6930_01" eqptType="3" communicationType="1" >

        </EQPT>
        <EQPT id="LINE1_B5A_6910_01" eqptType="3" communicationType="1" >

        </EQPT>
        <EQPT id="LINE1_B5A_6910_02" eqptType="3" communicationType="1" >

        </EQPT>
        <EQPT id="LINE1_B5A_6910_03" eqptType="3" communicationType="1" >

        </EQPT>
        <EQPT id="LINE1_B5A_6905_01" eqptType="3" communicationType="1" >

        </EQPT>
        <EQPT id="LINE1_B5A_6905_02" eqptType="3" communicationType="1" >

        </EQPT>
        <EQPT id="LINE1_B5A_6905_03" eqptType="3" communicationType="1" >

        </EQPT>
        <EQPT id="LINE1_B5A_6920_01" eqptType="3" communicationType="1" >

        </EQPT>
        <EQPT id="LINE1_B5A_6920_02" eqptType="3" communicationType="1" >

        </EQPT>
        <EQPT id="LINE1_B5A_6920_03" eqptType="3" communicationType="1" >

        </EQPT>
        <EQPT id="LINE1_B5A_6920_04" eqptType="3" communicationType="1" >

        </EQPT>
        <EQPT id="LINE1_B5A_6950_01" eqptType="3" communicationType="1" >

        </EQPT>
        <EQPT id="LINE1_B5A_6500_91_01" eqptType="3" communicationType="1" >

        </EQPT>
        <EQPT id="LINE1_B5A_6365_01" eqptType="3" communicationType="1" >

        </EQPT>
      </Node>
    </Zone>
    <Zone id="EQ_ZONE2">
      <Node id="ZONE2_STK2_ST01" node_num="21" >
        <EQPT id="B7_STK02_ST01" eqptType="1" communicationType="1" tcpipAgentName="http://stk02.asek21.mirle.com.tw:9000" process_data_format="">

        </EQPT>
      </Node>
      <Node id="ZONE2_LINE_ST01" node_num="23" >
        <EQPT id="B7_OHBLINE2_ST01" eqptType="1" communicationType="1" tcpipAgentName="http://ohbc.line2.asek21.mirle.com.tw:3280" process_data_format="AGV03">

        </EQPT>
      </Node>
      <Node id="ZONE2_LINE_ST02" node_num="22" >
        <EQPT id="B7_OHBLINE2_ST02" eqptType="1" communicationType="1" tcpipAgentName="http://ohbc.line2.asek21.mirle.com.tw:3280" process_data_format="AGV08">

        </EQPT>
      </Node>
      <Node id="ZONE2_LOOP_ST01" node_num="24" >
        <EQPT id="B7_OHBLOOP_ST01" eqptType="1" communicationType="1" tcpipAgentName="http://ohbc.loop.asek21.mirle.com.tw:3280" process_data_format="">

        </EQPT>
      </Node>
      <Node id="ZONE2_EQ1" node_num="25" >
        <EQPT id="B5A_6790_01" eqptType="3" communicationType="1" >

        </EQPT>
        <EQPT id="B5A_6790_02" eqptType="3" communicationType="1" >

        </EQPT>
        <EQPT id="B5A_6530_03" eqptType="3" communicationType="1" >

        </EQPT>
        <EQPT id="B5A_6530_02" eqptType="3" communicationType="1" >

        </EQPT>
        <EQPT id="B5A_6530_01" eqptType="3" communicationType="1" >

        </EQPT>
        <EQPT id="B5A_6411_01" eqptType="3" communicationType="1" >

        </EQPT>
        <EQPT id="B5A_6500_03" eqptType="3" communicationType="1" >

        </EQPT>
        <EQPT id="B5A_6500_02" eqptType="3" communicationType="1" >

        </EQPT>
        <EQPT id="B5A_6500_01" eqptType="3" communicationType="1" >

        </EQPT>
        <EQPT id="B5A_6401_01" eqptType="3" communicationType="1" >

        </EQPT>
        <EQPT id="B5A_6525_01" eqptType="3" communicationType="1" >

        </EQPT>
        <EQPT id="B5A_6525_02" eqptType="3" communicationType="1" >

        </EQPT>
        <EQPT id="B5A_6540_03" eqptType="3" communicationType="1" >

        </EQPT>
        <EQPT id="B5A_6412_01" eqptType="3" communicationType="1" >

        </EQPT>
        <EQPT id="B5A_6520_03" eqptType="3" communicationType="1" >

        </EQPT>
        <EQPT id="B5A_6520_02" eqptType="3" communicationType="1" >

        </EQPT>
        <EQPT id="B5A_6520_01" eqptType="3" communicationType="1" >

        </EQPT>
      </Node>
    </Zone>
    <Zone id="EQ_ZONE3">
      <Node id="ZONE3_STK1_ST01" node_num="31" >
        <EQPT id="B7_STK01_ST01" eqptType="1" communicationType="1" tcpipAgentName="http://stk01.asek21.mirle.com.tw:9000" process_data_format="" recipe_parameter_format="1">

        </EQPT>
      </Node>
      <Node id="ZONE3_LINE_ST01" node_num="32" >
        <EQPT id="B7_OHBLINE3_ST01" eqptType="1" communicationType="1" tcpipAgentName="http://ohbc.line3.asek21.mirle.com.tw:3280" process_data_format="" >

        </EQPT>
      </Node>
      <Node id="ZONE3_LINE_ST02" node_num="33" >
        <EQPT id="B7_OHBLINE3_ST02" eqptType="1" communicationType="1" tcpipAgentName="http://ohbc.line3.asek21.mirle.com.tw:3280" process_data_format="AGV01">

        </EQPT>
      </Node>
      <Node id="ZONE3_LINE_ST03" node_num="34" >
        <EQPT id="B7_OHBLINE3_ST03" eqptType="1" communicationType="1" tcpipAgentName="http://ohbc.line3.asek21.mirle.com.tw:3280" process_data_format="AGV07">

        </EQPT>
      </Node>
      <Node id="ZONE3_EQ1" node_num="35" >
        <EQPT id="LINE3_B5A_6370_01" eqptType="3" communicationType="1" >

        </EQPT>
        <EQPT id="LINE3_B5A_6370_02" eqptType="3" communicationType="1" >

        </EQPT>
        <EQPT id="LINE3_B5A_6370_03" eqptType="3" communicationType="1" >

        </EQPT>
        <EQPT id="LINE3_B5A_6370_04" eqptType="3" communicationType="1" >

        </EQPT>
        <EQPT id="LINE3_6450_93_01" eqptType="3" communicationType="1" >

        </EQPT>
        <EQPT id="LINE3_6416_01" eqptType="3" communicationType="1" >

        </EQPT>
        <EQPT id="LINE3_6416_02" eqptType="3" communicationType="1" >

        </EQPT>
        <EQPT id="LINE3_6450_03" eqptType="3" communicationType="1" >

        </EQPT>
        <EQPT id="LINE3_6450_02" eqptType="3" communicationType="1" >

        </EQPT>
        <EQPT id="LINE3_6450_01" eqptType="3" communicationType="1" >

        </EQPT>
        <EQPT id="LINE3_6850_01" eqptType="3" communicationType="1" >

        </EQPT>
        <EQPT id="LINE3_6850_03" eqptType="3" communicationType="1" >

        </EQPT>
        <EQPT id="LINE3_6850_04" eqptType="3" communicationType="1" >

        </EQPT>
        <EQPT id="LINE3_6450_91_01" eqptType="3" communicationType="1" >

        </EQPT>
        <EQPT id="LINE3_6450_92_01" eqptType="3" communicationType="1" >

        </EQPT>
        <EQPT id="LINE3_6450_92_02" eqptType="3" communicationType="1" >

        </EQPT>
        <EQPT id="LINE3_6815_03" eqptType="3" communicationType="1" >

        </EQPT>
        <EQPT id="LINE3_6815_02" eqptType="3" communicationType="1" >

        </EQPT>
        <EQPT id="LINE3_6815_01" eqptType="3" communicationType="1" >

        </EQPT>
        <EQPT id="LINE3_6570_03" eqptType="3" communicationType="1" >

        </EQPT>
        <EQPT id="LINE3_6570_02" eqptType="3" communicationType="1" >

        </EQPT>
        <EQPT id="LINE3_6570_01" eqptType="3" communicationType="1" >

        </EQPT>
        <EQPT id="LINE3_6841_03" eqptType="3" communicationType="1" >

        </EQPT>
        <EQPT id="LINE3_6841_02" eqptType="3" communicationType="1" >

        </EQPT>
        <EQPT id="LINE3_6841_01" eqptType="3" communicationType="1" >

        </EQPT>
        <EQPT id="LINE3_6841_04" eqptType="3" communicationType="1" >

        </EQPT>
      </Node>
    </Zone>
  </Line>
</EquipmentDefs>